<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.usafiapp">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    \
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="app.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />

        <receiver
            android:name=".ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".ProductsActivity" />
        <activity android:name=".AgentsActivity" />
        <activity android:name=".CustomersActivity" />
        <activity android:name=".CommisionsActivity" />
        <activity android:name=".SalesActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AgentsviewActivity" />
        <activity android:name=".CustomersviewActivity" />
        <activity android:name=".SalesviewActivity" />
        <activity android:name=".CustomeraddActivity" />
        <activity android:name=".SalesaddActivity" />
        <activity android:name=".ProfileeditActivity" />
        <activity android:name="com.example.david.usafiapp.ChatActivity"></activity>
    </application>

</manifest>